.App {

}

h2{
  margin-left: 5%
}
h4{
  margin-top:0px;
  margin-bottom:5px
}

p{
  margin-top:0px;
  margin-bottom:5px
}

.sideBarModule:hover{
  background: linear-gradient(#333, #555, #333)
}

.sideBar{
  background-color:#111;
  width: 25%;
  height: 1000px;
  color:#ddd;
  padding-top: 10px;
}

.sideBarModule{
  width: 90%;
  padding: 10px 5% 10px;
  background: linear-gradient(#111, #333, #111);
}
hr{
  margin-top:0px
}